/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	Reference Styling for An Interactive Row of Thumbnails
*/
/* line 7, ../../src/scss/useful-catalog.scss */
.catalog-browser {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%
  /*
  	loading indicator
  */
  /*
  	toolbar
  */
  /*
  	zooming container
  */
  /*
  	pages
  */
  /*
  	tiles
  */
  /*
  	configuration overrides
  */
  	/*
  		interaction lure
  
  	&:after {
  		background : Transparent url(../img/catalog.png) 0% -96px;
  		bottom : 10px;
  		content : '';
  		display : block;
  		height : 32px;
  		position : absolute;
  		right : 10px;
  		visibility : visible;
  		width : 32px;
  		z-index : 1000;
  	}
  	&:hover:after {
  		visibility : hidden;
  	}
  	*/
}
/* line 13, ../../src/scss/useful-catalog.scss */
.catalog-browser * {
  box-sizing: border-box;
}
/* line 16, ../../src/scss/useful-catalog.scss */
.catalog-browser ul, .catalog-browser menu {
  margin: 0;
  padding: 0;
}
/* line 19, ../../src/scss/useful-catalog.scss */
.catalog-browser ul li, .catalog-browser menu li {
  display: inline;
  list-style-type: none;
}
/* line 28, ../../src/scss/useful-catalog.scss */
.catalog-browser.cat-busy * {
  visibility: hidden;
}
/* line 35, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar {
  bottom: 24px;
  bottom: 2rem;
  height: 34px;
  left: 50%;
  margin-left: -111px;
  width: 223px;
  position: absolute;
  z-index: 1000;
}
/* line 43, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-pagenumber {
  background-color: #ff6a00;
  border: solid 1px #fff;
  height: 34px;
  left: 32px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100px;
}
/* line 53, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-pagenumber input {
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 3.6px;
  padding-right: 0.3rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 3.6px;
  padding-left: 0.3rem;
  height: 26px;
  line-height: 26px;
  margin: 3px 0;
  text-align: right;
  width: 32px;
}
/* line 61, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-pagenumber span {
  color: #fff;
}
/* line 63, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-pagenumber span:before {
  content: ' / ';
}
/* line 68, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar > button {
  background-image: url(../img/catalog.png);
  border: solid 1px #fff;
  height: 34px;
  overflow: hidden;
  position: absolute;
  text-indent: 40px;
  top: 0px;
  white-space: nowrap;
  width: 34px;
}
/* line 79, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-page-next {
  background-position: 100% -64px;
  right: 0px;
}
/* line 83, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-page-prev {
  background-position: 0% -64px;
  left: 0px;
}
/* line 87, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-zoom-in {
  background-position: 0% -32px;
  right: 32px;
}
/* line 91, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-toolbar .cat-zoom-out {
  background-position: 100% -32px;
  right: 64px;
}
/* line 99, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-wrapper {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
}
/* line 105, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-wrapper .cat-spread {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 115, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page {
  -ms-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
}
/* line 121, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-odd {
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  left: 0;
  right: 50%;
}
/* line 126, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-even {
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  left: 50%;
  right: 0;
}
/* line 131, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-open {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  z-index: 300;
}
/* line 135, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-close {
  -ms-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  z-index: 300;
}
/* line 139, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-stay {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  z-index: 200;
}
/* line 143, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-decreasing {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
/* line 147, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-decreasing.cat-page-odd {
  transition-delay: 500ms;
}
/* line 150, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-decreasing.cat-page-even {
  transition-delay: 1000ms;
}
/* line 153, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-decreasing.cat-page-stay {
  transition-property: none;
}
/* line 157, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-increasing {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
/* line 161, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-increasing.cat-page-odd {
  transition-delay: 1000ms;
}
/* line 164, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-increasing.cat-page-even {
  transition-delay: 500ms;
}
/* line 167, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-page-increasing.cat-page-stay {
  transition-property: none;
}
/* line 175, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/* line 184, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-tile {
  position: absolute;
}
/* line 186, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-tile img {
  width: 100%;
  height: 100%;
}
/* line 194, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-split-1 .cat-page-even {
  left: 0;
}
/* line 197, ../../src/scss/useful-catalog.scss */
.catalog-browser .cat-split-2 .cat-page-even {
  left: 50%;
}
