/*
	Reference Styling for An Interactive Row of Thumbnails
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Constants
  */
  /*
  	Hides text in the margin
  */
  /*
  	Turns a button into an icon
  */
  /*
  	Centres a graphic inside an icon
  */
  /*
  	Offers both the pixel and rem value of a single property
  */
  /*
  	Offers both the pixel and rem values of a shorthand property
  */
  /*
  	Offers the text size as both the pixel and rem value
  */
  /*
  	Adds vendor prefixed to a property
  */
  /*
  	Applies the "clearfix" hack to a container with floating content
  */
  /*
  	Typography
  */
  /* line 12, ../../src/scss/useful-catalog.scss */
  .catalog-browser {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /*
    	loading indicator
    */
    /*
    	toolbar
    */
    /*
    	zooming container
    */
    /*
    	pages
    */
    /*
    	tiles
    */
    /*
    	configuration overrides
    */
    		/*
    			interaction lure
    
    		&:after {
    			background : Transparent url(../img/catalog.png) 0% -96px;
    			bottom : 10px;
    			content : '';
    			display : block;
    			height : 32px;
    			position : absolute;
    			right : 10px;
    			visibility : visible;
    			width : 32px;
    			z-index : 1000;
    		}
    		&:hover:after {
    			visibility : hidden;
    		}
    		*/
  }
  /* line 18, ../../src/scss/useful-catalog.scss */
  .catalog-browser * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 21, ../../src/scss/useful-catalog.scss */
  .catalog-browser ul, .catalog-browser menu {
    margin: 0;
    padding: 0;
  }
  /* line 24, ../../src/scss/useful-catalog.scss */
  .catalog-browser ul li, .catalog-browser menu li {
    display: inline;
    list-style-type: none;
  }
  /* line 33, ../../src/scss/useful-catalog.scss */
  .catalog-browser.cat-busy * {
    visibility: hidden;
  }
  /* line 40, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar {
    bottom: 24px;
    bottom: 2rem;
    height: 34px;
    left: 50%;
    margin-left: -111px;
    width: 223px;
    position: absolute;
    z-index: 1000;
  }
  /* line 48, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-pagenumber {
    background-color: #ff6a00;
    border: solid 1px #fff;
    height: 34px;
    left: 32px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
  }
  /* line 58, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-pagenumber input {
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 3.6px;
    padding-right: 0.3rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 3.6px;
    padding-left: 0.3rem;
    height: 26px;
    line-height: 26px;
    margin: 0;
    text-align: right;
    width: 32px;
  }
  /* line 66, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-pagenumber span {
    color: #fff;
  }
  /* line 68, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-pagenumber span:before {
    content: ' / ';
  }
  /* line 73, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar > button {
    background-image: url(../img/catalog.png);
    border: solid 1px #fff;
    height: 34px;
    overflow: hidden;
    position: absolute;
    text-indent: 40px;
    top: 0px;
    white-space: nowrap;
    width: 34px;
  }
  /* line 84, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-page-next {
    background-position: 100% -64px;
    right: 0px;
  }
  /* line 88, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-page-prev {
    background-position: 0% -64px;
    left: 0px;
  }
  /* line 92, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-zoom-in {
    background-position: 0% -32px;
    right: 32px;
  }
  /* line 96, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-toolbar .cat-zoom-out {
    background-position: 100% -32px;
    right: 64px;
  }
  /* line 104, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-wrapper {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
  }
  /* line 110, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-wrapper .cat-spread {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  /* line 120, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page {
    -o-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  /* line 127, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-odd {
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    left: 0;
    right: 50%;
  }
  /* line 132, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-even {
    -o-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    left: 50%;
    right: 0;
  }
  /* line 137, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-open {
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    z-index: 300;
  }
  /* line 141, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-close {
    -o-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    z-index: 300;
  }
  /* line 145, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-stay {
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    z-index: 200;
  }
  /* line 149, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-decreasing {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 153, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-decreasing.cat-page-odd {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
  }
  /* line 156, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-decreasing.cat-page-even {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
  }
  /* line 159, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-decreasing.cat-page-stay {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  /* line 163, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-increasing {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 167, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-increasing.cat-page-odd {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
  }
  /* line 170, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-increasing.cat-page-even {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
  }
  /* line 173, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-page-increasing.cat-page-stay {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  /* line 180, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-preview {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  /* line 189, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-tile {
    position: absolute;
  }
  /* line 191, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-tile img {
    width: 100%;
    height: 100%;
  }
  /* line 199, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-split-1 .cat-page-even {
    left: 0;
  }
  /* line 202, ../../src/scss/useful-catalog.scss */
  .catalog-browser .cat-split-2 .cat-page-even {
    left: 50%;
  }
}
@media all {
  /*
  	The root element
  */
  /* line 8, ../../src/scss/_typography.scss */
  html {
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 75%;
    height: 100%;
  }

  /*
  	Sections
  */
  /* line 16, ../../src/scss/_typography.scss */
  body {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    line-height: 21.6px;
    line-height: 1.8rem;
    background: #eee;
    color: #333;
    _height: 100%;
    min-height: 100%;
  }

  /* line 26, ../../src/scss/_typography.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: normal;
  }

  /* line 32, ../../src/scss/_typography.scss */
  h1 {
    font-size: 22.5px;
    font-size: 1.875rem;
  }

  /* line 35, ../../src/scss/_typography.scss */
  h2 {
    font-size: 19.5px;
    font-size: 1.625rem;
  }

  /* line 38, ../../src/scss/_typography.scss */
  h3 {
    font-size: 15px;
    font-size: 1.25rem;
  }

  /* line 41, ../../src/scss/_typography.scss */
  address {
    display: block;
    font-style: normal;
  }

  /* line 45, ../../src/scss/_typography.scss */
  section, nav, article, aside, hgroup, header, footer {
    display: block;
  }

  /*
  	Grouping content
  */
  /* line 51, ../../src/scss/_typography.scss */
  p {
    font-size: 12px;
    font-size: 1rem;
    display: block;
  }

  /* line 55, ../../src/scss/_typography.scss */
  hr {
    margin-top: 12px;
    margin-top: 1rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    background-color: #333;
    border: none;
    clear: both;
    color: #333;
    display: block;
    height: 1px;
    width: 100%;
  }

  /* line 65, ../../src/scss/_typography.scss */
  ul {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 24px;
    margin-left: 2rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /* line 71, ../../src/scss/_typography.scss */
  dl {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 75, ../../src/scss/_typography.scss */
  dt {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 80, ../../src/scss/_typography.scss */
  dd {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 84, ../../src/scss/_typography.scss */
  pre, dialog, blockquote, ol {
    display: block;
  }

  /*
  	Text-level semantics
  */
  /* line 90, ../../src/scss/_typography.scss */
  a {
    color: #ff6a00;
    text-decoration: underline;
  }

  /* line 94, ../../src/scss/_typography.scss */
  a:hover {
    color: #ff9800;
    text-decoration: underline;
  }

  /* line 98, ../../src/scss/_typography.scss */
  sub {
    line-height: 0;
  }

  /* line 101, ../../src/scss/_typography.scss */
  sup {
    line-height: 0;
  }

  /* line 104, ../../src/scss/_typography.scss */
  time, progress, meter {
    display: block;
  }

  /*
  	Embedded content
  */
  /* line 110, ../../src/scss/_typography.scss */
  img {
    border: none;
    vertical-align: middle;
  }

  /* line 114, ../../src/scss/_typography.scss */
  figure, figcaption, video, audio, canvas {
    display: block;
  }

  /* Tabular data */
  /* line 118, ../../src/scss/_typography.scss */
  table {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    border-collapse: collapse;
  }

  /* line 122, ../../src/scss/_typography.scss */
  caption {
    font-size: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
  }

  /* line 128, ../../src/scss/_typography.scss */
  tr {
    vertical-align: top;
  }
  /* line 130, ../../src/scss/_typography.scss */
  tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  /* line 132, ../../src/scss/_typography.scss */
  th, td {
    padding-top: 6px;
    padding-top: 0.5rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 6px;
    padding-bottom: 0.5rem;
    padding-left: 12px;
    padding-left: 1rem;
  }

  /* line 135, ../../src/scss/_typography.scss */
  th, th a, th a:hover {
    background-color: #ff9800;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
  }

  /*
  	Forms
  */
  /* line 146, ../../src/scss/_typography.scss */
  form {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 149, ../../src/scss/_typography.scss */
  fieldset {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
    border: none;
  }

  /* line 155, ../../src/scss/_typography.scss */
  legend {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 161, ../../src/scss/_typography.scss */
  input, button, select, textarea {
    font-size: 12px;
    font-size: 1rem;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    vertical-align: baseline;
  }

  /* line 166, ../../src/scss/_typography.scss */
  input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=password], input[type=email], select, textarea {
    -webkit-box-shadow: inset 0 0 5px #cccccc;
    -moz-box-shadow: inset 0 0 5px #cccccc;
    box-shadow: inset 0 0 5px #cccccc;
    height: 36px;
    height: 3rem;
    font-size: 12px;
    font-size: 1rem;
    padding: 8.4px;
    padding: 0.7rem;
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
    background: #fff;
    border: solid 1px #333;
    font-family: Arial, Sans-Serif;
  }

  /* line 176, ../../src/scss/_typography.scss */
  input[type=checkbox], input[type=radio] {
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 3.6px;
    margin-right: 0.3rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 179, ../../src/scss/_typography.scss */
  select {
    height: 36px;
    height: 3rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 183, ../../src/scss/_typography.scss */
  textarea {
    height: 120px;
    height: 10rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 187, ../../src/scss/_typography.scss */
  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 36px;
    height: 3rem;
    line-height: 36px;
    line-height: 3rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 12px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-decoration: none;
  }
  /* line 202, ../../src/scss/_typography.scss */
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  /* line 207, ../../src/scss/_typography.scss */
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }

  /*
  	Interactive elements
  */
  /* line 214, ../../src/scss/_typography.scss */
  menu {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /*
  	Miscellaneous elements
  */
  /* line 222, ../../src/scss/_typography.scss */
  div {
    display: block;
  }
}
@media all and (max-width: 480px) {
  /* line 231, ../../src/scss/_typography.scss */
  html {
    font-size: 62.5%;
  }
}
