/*
	Reference Styling for An Interactive Row of Thumbnails
*/

@media all {

	@import "compass/css3";
	@import "compass/utilities";
	@import "definitions";
	@import "typography";

	.catalog-browser {
		display : block;
		margin : 0;
		padding : 0;
		overflow : auto;
		-webkit-overflow-scrolling: touch;
		position : relative;
		width : 100%;
		* {
			@include box-sizing(border-box);
			margin : 0;
			padding : 0;
		}
		ul {
			li {
				display : inline;
				list-style-type : none;
			}
		}
		/*
			loading indicator
		*/
		&.cat-busy {
			* {
				visibility : hidden;
			}
		}
		/*
			zooming container
		*/
		.cat-spread {
			position : absolute;
			left : 0;
			top : 0;
			width : 100%;
		}
		/*
			pages
		*/
		.cat-page {
			@include vendors('transform', 'scale(0, 1)');
			position : absolute;
			top : 0;
			bottom : 0;
			z-index : 100;
		}
		.cat-page-odd {
			@include vendors('transform-origin', '100% 50%');
			left : 0;
			right : 50%;
		}
		.cat-page-even {
			@include vendors('transform-origin', '0% 50%');
			left : 50%;
			right : 0;
		}
		.cat-page-open {
			@include vendors('transform', 'scale(1, 1)');
			z-index : 300;
		}
		.cat-page-close {
			@include vendors('transform', 'scale(0, 1)');
			z-index : 300;
		}
		.cat-page-stay {
			@include vendors('transform', 'scale(1, 1)');
			z-index : 200;
		}
		.cat-page-decreasing {
			@include transition-property('transform');
			@include transition-duration('500ms');
			@include transition-timing-function('ease');
			&.cat-page-odd {
				@include transition-delay('500ms');
			}
			&.cat-page-even {
				@include transition-delay('1000ms');
			}
			&.cat-page-stay {
				@include transition-property('none');
			}
		}
		.cat-page-increasing {
			@include transition-property('transform');
			@include transition-duration('500ms');
			@include transition-timing-function('ease');
			&.cat-page-odd {
				@include transition-delay('1000ms');
			}
			&.cat-page-even {
				@include transition-delay('500ms');
			}
			&.cat-page-stay {
				@include transition-property('none');
			}
		}
		/*
			tiles
		*/
		.cat-preview {
			position : absolute;
			left : 0;
			top : 0;
			right : 0;
			bottom : 0;
			width : 100%;
			height : 100%;
		}
		.cat-tile {
			position : absolute;
			img {
				width : 100%;
				height : 100%;
			}
		}
		/*
			configuration overrides
		*/
		.cat-split-1 .cat-page-even {
			left : 0;
		};
		.cat-split-2 .cat-page-even {
			left : 50%;
		};
	}

}

@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
